/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* HEADER */
header {
    width: 100%;
    background: #292929;
    padding: 20px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #faf9f9;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.nav-menu a {
    color: #faf9f9;
    text-decoration: none;
    margin-left: 25px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* BANNER */
.banner {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.banner-text button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.banner-text button:hover {
    background: darkgreen;
}

.banner-image img {
    width: 100%;
    border-radius: 12px;
}

/* PROJECTS */
.projects {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.project-card {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* CONTACT */
.contact {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact-form button {
    background: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.contact-form button:hover {
    background: darkgreen;
}

/* FOOTER */
footer {
    background: #292929;
    color: white;
    padding: 20px;

    display: grid;
    place-items: center;
}
